In [1]:
string = 'string'

In [2]:
print 'Place my variable her: %s' %(string)

Place my variable her: string

In [3]:
float_number = 19.9862

In [5]:
print 'my float number is: %1.2f' %(float_number) # the number after decimal indicates the allowed digits to show

my float number is: 19.99

In [6]:
# to convert to string

In [7]:
print 'convert to string %s' %(875.98)

convert to string 875.98

In [8]:
print 'convert to string %r' %(232.08)

convert to string 232.08

In [9]:
print 'first value: %s, second value: %s, third value: %s' %('1', 'two', 3)

first value: 1, second value: two, third value: 3

In [11]:
print 'first value: {x}, second value: {y}, third value: {x}'.format(x='x value', y='y value')

first value: x value, second value: y value, third value: x value